html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -362px;
   float:left
}
div#container
{
   width: 1000px;
   height: 724px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Picture1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 3px 3px 3px 3px;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 17px;
   line-height: 20px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#SiteSearch1
{
   line-height: 18px;
   margin: 0;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#SiteSearch1:focus
{
   outline: 0;
}
.search-item, .search-text
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
}
.search-text
{
   margin: 0 0 4px 0;
}
.search-title, .search-title:active, .search-title:hover, .search-title:visited
{
   color: #4169E1;
}
.search-url, .search-url:active, .search-url:hover, .search-url:visited
{
   color: #006621;
   text-decoration: none;
}
.search-highlight
{
   font-weight: bold;
   font-style: normal;
}
.clickable
{
   cursor: pointer;
}
#search-pagination
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 8px 0 0 4px;
}
#search-pagination > li
{
   display: inline;
   font-size: 13px;
}
#search-pagination > li > a, #search-pagination > li > span
{
   position: relative;
   float: left;
   padding: 4px 10px 4px 10px;
   text-decoration: none;
   background-image: none;
   border: 1px #DDDDDD solid;
   color: #000000;
   margin-left: -1px;
}
#search-pagination > li:first-child > a, #search-pagination > li:first-child > span
{
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#search-pagination > li:last-child > a, #search-pagination > li:last-child > span
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#search-pagination > li > a:hover, #search-pagination > li > span:hover, #search-pagination > li > a:focus, #search-pagination > li > span:focus 
{
   background-color: #CCCCCC;
   color: #23527C;
}
#search-pagination > .active > a, #search-pagination > .active > span, #search-pagination > .active > a:hover, #search-pagination > .active > span:hover, #search-pagination > .active > a:focus, #search-pagination > .active > span:focus
{
   z-index: 2;
   background-color:#000000;
   border-color:#000000;
   color: #FFFFFF;
   cursor: default;
}
#search-pagination > .disabled > span, #search-pagination > .disabled > span:hover, #search-pagination1 > .disabled > span:focus, #search-pagination > .disabled > a, #search-pagination > .disabled > a:hover, #search-pagination > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
.search-autocomplete
{
   position: absolute;
   background: #FFFFFF;
   border: 1px solid #DEE2E6;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   list-style-type: none;
   z-index: 999;
   padding: 0;
   width: 150px;
   margin: 0;
}
.search-autocomplete li
{
   padding: 4px 4px 4px 4px;
   margin: 0;
}
.search-autocomplete li.selected
{
   background: #DEE2E6;
   color: #FFFFFF;
}
.ui-dialog
{
   padding: 4px 4px 4px 4px;
   text-align: left;
}
.ui-dialog .ui-dialog-title
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #2779AA;
}
.ui-dialog .ui-dialog-titlebar
{
   padding: 4px 4px 4px 4px;
}
.ui-dialog .ui-dialog-content
{
   padding: 6px 2px 2px 2px;
}
.ui-dialog .ui-dialog-titlebar-close
{
   right: 10px;
}
.ui-dialog .ui-dialog-buttonpane button
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button1
{
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Button2
{
   box-sizing: border-box;
   line-height: 67px;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #FFFFFF;
   border-radius: 55px;
   background-color: #4C837D;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-border-fade 1000ms linear 0ms infinite alternate backwards;
}
#Button2:focus
{
   outline: 0;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 8px;
   padding: 5px 5px 5px 5px;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
